:root {
  --font-color: #121212;
  --background-color: #f7f8f9;
  --border-color: #d1d1d1;
  --orange-color: #ff590a;
}

* {
  box-sizing: border-box;
  font-family: var(--red-hat-text);
}

body {
  margin: auto;
  background-color: var(--background-color);
}

h1 {
  font-weight: 600;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 0.75rem;
}

h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

h4 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

p {
  line-height: 1.5;
}

b {
  font-weight: 600;
}

section a:not(:has(img)) {
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
  color: var(--orange-color);
  text-decoration-color: var(--orange-color);
  overflow: hidden;
  transition: color 0.2s;
}

section a:not(:has(img)):hover {
  color: #fff;
}

section a:not(:has(img))::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--orange-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

section a:not(:has(img)):hover::before {
  transform: scaleX(1);
}

v-btn {
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #d1d1d150;
  border: 1px solid var(--border-color);
  padding: 0.1rem 0.75rem;
  border-radius: 1rem;
}

v-code {
  white-space: nowrap;
  font-family: var(--red-hat-mono);
  font-size: 0.75rem;
  color: #2d145c;
  background-color: #9650ff1a;
  border: 1px solid var(--border-color);
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
}

v-path {
  font-weight: 600;
  color: #00008b;
}

ul {
  margin-top: 0;
}

iframe,
img {
  max-width: 100%;
  max-height: 32rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  transition: box-shadow 0.2s;
}

img:hover {
  box-shadow: 0px 2px 6px 0px var(--border-color);
}

.lightbox {
  position: fixed;
  border: 1px solid var(--border-color);
  opacity: 0;
  padding: 0;
  overflow: visible;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 12px 0px #12121280;
  transform: translateY(40px);
  transition: all 0.3s ease;
}

.lightbox button {
  display: flex;
  position: absolute;
  top: -2.5rem;
  right: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
}

.lightbox button:hover {
  background-color: var(--border-color);
}

.lightbox::backdrop {
  opacity: 0;
  transition: all 0.3s ease;
}

.lightbox--opened {
  opacity: 1;
  transform: translateY(1.25rem);
}

.lightbox--opened::backdrop {
  background-color: var(--font-color);
  opacity: 0.6;
}

.lightbox img {
  display: flex;
  max-width: 90dvw;
  max-height: 90dvh;
  margin: 0;
  padding: 0;
  border: initial;
}

.lightbox img:hover {
  box-shadow: none;
}

/* MVP */

article {
  display: grid;
  grid-template-columns: 1fr;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  width: min(300px, max(0px, calc((100dvw - 680px) / 2)));
  height: 100dvh;
  overflow-y: auto;
  padding: 1.8rem 1rem 1rem 1rem;
  border-right: 1px solid var(--border-color);
}

section {
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 640px;
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  text-decoration: none;
  margin-top: 2rem;
}

nav ul li {
  margin-bottom: 0.5rem;
}

nav ul li a {
  display: flex;
  font-size: 0.8rem;
  color: var(--font-color);
  text-decoration: none;
  border-left: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: var(--orange-color);
}

.TOC-h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.TOC-h3 {
  font-weight: 600;
  margin-left: 0.5rem;
}

.TOC-h4 {
  margin-left: 1rem;
}

.TOC-intersecting {
  padding-left: 0.25rem;
  border-color: var(--orange-color);
  transition: all 0.3s;
}

.info {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #d0efff;
  border: 1px solid #3db1e1;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.warning {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #faf1bd;
  border: 1px solid #ffb900;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.release_alert {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #ffe4e1;
  border: 1px solid #ee4c83;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

ul li .info,
ul li .warning,
ul li .release_alert,
ul li a img {
  margin: 0.5rem 0;
}